/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpintel
.phpintel/*
.phpintel/index
.phpintel/20b81a9f1f94c79ed8638d76ac86a5b1
.phpintel/d4d428a84ca6bb119771e7abfed2a6ff
.phpintel/index
